@import url('https://fonts.googleapis.com/css2?family=Federo&family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-padding-top: 10%;
}

html {
    scroll-behavior: smooth;
}

$font-stack: 'Poppins', Arial, Helvitica, sanserif;
$title-font: 'Federo';
$light-color: #f4f4f4;
$dark-color: grey;
$super-dark-color: darken($dark-color, 90%);
$primary-color: rgb(18, 184, 18);
$secondary-color: yellow;

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}